.notes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  
  .note {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
  }
  
  .note mat-icon {
    margin-right: 8px;
    color: #d67800;
    vertical-align: middle;
  }
  
  .note p {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
  }
  
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  
  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white;
    height: 36px; /* Adjust height as needed */
  }

  .mat-form-field-appearance-fill .mat-form-field-underline {
    background-color: #d67800;
  }

  .mat-form-field-appearance-fill .mat-form-field-ripple {
    background-color: #d67800;
  }

  .mat-select-trigger {
    height: 36px; /* Adjust height as needed */
    line-height: 36px; /* Adjust line-height to match height */
  }

  .mat-input-element {
    height: 36px; /* Adjust height as needed */
    line-height: 36px; /* Adjust line-height to match height */
  }

  button.mat-button {
    margin-right: 8px;
  }

  button.mat-button.cancel-button {
    background-color: #f0f0f0;
    color: #000000;
  }

  button.mat-button.cancel-button:hover {
    background-color: #e0e0e0;
  }

  button.mat-button.submit-button {
    background-color: #228B22; /* Royal green */
    color: #ffffff;
  }

  button.mat-button.submit-button:hover {
    background-color: #1a6e1a;
  }
