<div class="responsive-background" fxLayout="column" fxLayoutAlign="center center">
  <div class="container">
      <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card">
                  <div class="card-body p-5">
                      <h2 class="text-center mb-5">Create an account</h2>
                      <form [formGroup]="SignUpForm" (ngSubmit)="SignUpSubmited()">
                          <div class="row">
                              <div class="mb-4">
                                  <label for="TeId">TE ID</label>
                                  <input type="text" id="TeId" formControlName="teId" class="form-control" required placeholder="Text" />
                                  <div *ngIf="teId.errors?.['required'] && teId.touched" class="text-danger">TE ID is required</div>
                              </div>
                              <div class="mb-4">
                                  <label for="username">User Name</label>
                                  <input type="text" id="username" formControlName="username" class="form-control" required placeholder="Text" />
                                  <div *ngIf="username.errors?.['required'] && username.touched" class="text-danger">User Name is required</div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="mb-4">
                                  <label for="email">Email</label>
                                  <input type="email" id="email" formControlName="email" class="form-control" required placeholder="Text" />
                                  <div *ngIf="email.errors?.['required'] && email.touched" class="text-danger">Email is required</div>
                                  <div *ngIf="email.errors?.['email'] && email.touched" class="text-danger">Invalid email format</div>
                              </div>
                              <div class="mb-4">
                                  <label for="plants">Plant:</label>
                                  <p-multiSelect [options]="plants" formControlName="plantId" optionLabel="label" placeholder="" (onChange)="loadPlants()"></p-multiSelect>
                                  <div *ngIf="plantId.errors?.['required'] && plantId.touched" class="text-danger">Plant is required</div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="mb-4">
                                  <label for="backup">Back UP</label>
                                  <input type="text" id="backup" formControlName="backup" class="form-control" required placeholder="Text" />
                                  <div *ngIf="backup.errors?.['required'] && backup.touched" class="text-danger">BackUp is required</div>
                              </div>
                              <div class="mb-4">
                                  <label for="department">Department:</label>
                                  <select id="department" formControlName="departementId" class="form-control" required>
                                      <option *ngFor="let departement of departements" [value]="departement.id_departement">{{ departement.name }}</option>
                                  </select>
                                  <div *ngIf="departementId.errors?.['required'] && departementId.touched" class="text-danger">Department is required</div>
                              </div>
                              <div class="mb-4">
                                  <label for="yourpassword">Your password</label>
                                  <input type="password" id="yourpassword" formControlName="yourpassword" class="form-control" required placeholder="Text" />
                                  <div *ngIf="yourpassword.errors?.['required'] && yourpassword.touched" class="text-danger">Password is required</div>
                                  <div *ngIf="yourpassword.errors?.['minlength'] && yourpassword.touched" class="text-danger">Password should be at least 8 characters long</div>
                              </div>
                          </div>
                          <div class="d-flex justify-content-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                          <p style="color: black; margin-top: 10px;">Have already an account? <a href=" "><u style="color: #d67800;">Login here</u></a></p>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
