/* Status Colors */
.status-pending-finance {
  background-color: orange;
  color: white;
}

.status-pending-trad {
  background-color: rgb(255, 140, 0);
  color: white;
}

.status-in-shipping {
  background-color: blue;
  color: white;
}

.status-done {
  background-color: green;
  color: white;
}

.status-rejected {
  background-color: red;
  color: white;
}

/* Badge Styles */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
}

.header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.icons-container {
  display: flex;
  gap: 1rem; /* Space between icons */
}

.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 2.5em;
}

/* Search Bar */
.form-control {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f8f8f8;
  color: #333;
}

.table tr:hover {
  background-color: #f1f1f1;
}

/* Icon Button */
.mat-icon-button {
  color: green;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.mat-icon-button:hover .mat-icon,
.mat-icon-button:focus .mat-icon {
  color: darkgreen;
}

.btn-danger {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-danger .mat-icon {
  color: red;
  font-size: 24px;
}

.btn-danger:hover .mat-icon,
.btn-danger:focus .mat-icon {
  color: darkred;
}

.cancel-icon {
  font-size: 24px;
  color: red;
}

/* Pagination */
.p-paginator {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.p-paginator .p-paginator-pages {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.p-paginator .p-paginator-page {
  margin: 0 0.25rem;
  cursor: pointer;
}

.p-paginator .p-paginator-page a {
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
}

.p-paginator .p-paginator-page a:hover {
  background-color: #ddd;
}
