<div class="responsive-background" fxLayout="column" fxLayoutAlign="center center">
    <div class="wrapper">
        <form [formGroup]="LoginForm" (ngSubmit)="loginSubmitted()">
            <h1>Login</h1>
            <div class="form-group">
                <label for="identifier">Email or TE ID:</label>
                <input type="text" id="identifier" class="form-control" formControlName="identifier"
                       placeholder="Email or TE ID" required>
                <i class='bx bxs-envelope'></i>
                <div *ngIf="identifier.errors?.['required'] && identifier.touched" class="text-danger">Email or TE ID is required</div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input [type]="passwordFieldType" id="password" class="form-control" formControlName="password"
                       placeholder="Enter your password" required>
                <i class="pi" [ngClass]="{'pi-eye': passwordFieldType === 'password', 'pi-eye-slash': passwordFieldType === 'text'}" 
                   (click)="togglePasswordVisibility()"></i>
                <div *ngIf="password.errors?.['required'] && password.touched" class="text-danger">Password is required</div>
                <div *ngIf="password.errors?.['minlength'] && password.touched" class="text-danger">Password should be at least 6 characters long</div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="LoginForm.invalid">Login</button>
            <div class="signup-route">
                <span>Don't have an account? <a routerLink="/sign-up"><u>SignUp</u></a></span>
            </div>
            <div class="form-group forgot-password">
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
  </div>
  