<h1 mat-dialog-title>Modify Request (Finance)</h1>
<div mat-dialog-content>
  <form [formGroup]="requestForm">
    <div class="form-grid">
      <mat-form-field appearance="fill">
        <mat-label>Invoice Type</mat-label>
        <input matInput formControlName="invoicesTypes" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Scenario</mat-label>
        <input matInput formControlName="scenarioId" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Shipping Point</mat-label>
        <input matInput formControlName="shippingPoint" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Delivery Address</mat-label>
        <input matInput formControlName="deliveryAddress" readonly>
      </mat-form-field>
      <mat-form-field appearance="fill" class="small-form-field">
        <mat-label>Incoterm</mat-label>
        <mat-select formControlName="incoterm">
          <mat-option *ngFor="let term of ['FCA', 'DAP']" [value]="term">{{ term }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>DHL Account</mat-label>
        <input matInput formControlName="dhlAccount" required>
      </mat-form-field>
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-form">
          <mat-form-field appearance="fill">
            <mat-label>PN</mat-label>
            <input matInput formControlName="pn" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="quantity" type="number" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Unit Of Quantity</mat-label>
            <input matInput formControlName="unitOfQuantity" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Unit Value Finance</mat-label>
            <input matInput formControlName="unitValueFinance" type="number" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Cost Center</mat-label>
            <input matInput formControlName="costCenter" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Business Unit</mat-label>
            <input matInput formControlName="businessUnit" readonly>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Plant</mat-label>
            <input matInput formControlName="plant" readonly>
          </mat-form-field>
          <input type="hidden" formControlName="id_items">
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="warn" type="button" (click)="openRejectDialog()">Reject</button>
      <button mat-button class="submit-button" (click)="onSubmit()" [disabled]="!requestForm.valid">Submit</button>
    </div>
  </form>
</div>
